@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
/* :root {
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
}
html {
	background: #13151a;
} */

/* styles.css */
