@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
/* :root {
	--accent: 136, 58, 234;
	--accent-light: 224, 204, 250;
	--accent-dark: 49, 10, 101;
}
html {
	background: #13151a;
} */

/* styles.css */
.blur {
	@apply relative sticky w-full -mx-4 h-24 z-10 backdrop-blur-[5px] opacity-[0.95];
	--h: min(96px, var(--page-top));
	pointer-events: none;
}

.blur:after {
	content: "";
	position: absolute;
	inset: 0;
	background: linear-gradient(var(--direction), var(--bg), var(--transparent));
}

.blur:first-child {
	margin-bottom: calc(-1 * var(--h));
	top: 0;
	--direction: to bottom;
}

.blur:last-child {
	margin-top: calc(-1 * var(--h));
	bottom: 0;
	--direction: to top;
}