---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Ronald Leung">
	<div class="top-blur" aria-hidden="true"></div>
	<main class="my-24">
		<div class="flex justify-center px-12">
			<article class="max-w-2xl flex flex-col gap-8">
				<section class="hero">
					<h1 class="text-3xl">hey, i'm ronald.</h1>
					<p class="opacity-60 text-lg">
						welcome to my corner of the internet.
					</p>
				</section>

				<section class="bg-[#eaebe2] rounded-xl p-8 space-y-4 sunken-shadow">
					<h2 class="text-2xl text-[#005d4b]">about me</h2>
					<p class="mb-2">I’m a curious technologist with a passion for building. Currently, I’m studying CS at Cornell, where I spend a lot of time building community at Armada and writing code for Cornell AutoBoat.</p>
					<p>I’ve done a fair bit of work in full-stack development, but I’m also dabbling in startups, AI, and creative work. Lately, I’ve been interested in AI agents, NeRFs/Gaussian Splatting, and embodied AI - tools that can help intelligent systems perceive their environments and take action.</p>

				</section>

				<section class="p-8 space-y-4">
					<h2 class="text-2xl text-[#005d4b]">projects</h2>
					<ul role="list">
						<Card
							href="https://github.com/ronjj/brh-2024"
							title="WellBite"
							body="Learn how Astro works and explore the official API docs."
						/>
						<Card
							href="https://latexify-ai.vercel.app/"
							title="Latexify"
							body="Full-stack web app for converting handwritten assignments into structured LaTeX documents."
						/>
						<Card
							href="https://astro.build/themes/"
							title="Shelter Swipe"
							body="Mobile application for discovering adoptable shelter animals. Won Most Creative at AppDev Hack Challenge FA23"
						/>
						<Card
							href="https://astro.build/chat/"
							title="OCaml Keyboard"
							body="Virtual piano desktop app made with OCaml and Raylib. Final project for CS 3110 at Cornell"
						/>
					</ul>
				</section>
			</article>
		</div>
	</main>
</Layout>

<style>
	:root {
    --page-width: 1072px;
    --content-width: 640px;
    --page-left: auto;
    --page-top: 128px;
    --header-height: 48px;
    --footer-height: 48px;
    --icon-primary: var(--mono11);
    --icon-secondary: transparent;
    --body-margin-left: max(24px,env(safe-area-inset-left));
    --body-margin-right: max(24px,env(safe-area-inset-right));
    --layer-above-sticky: 20;
    --layer-header: 10;
    --layer-sticky: 10;
		--mask-hidden: transparent;
		--mask-visible: #000;
		--bg: #f6f7ee;
	}

	@media (max-width: 1024px) {
			:root {
					--page-top:128px
			}
	}

	@media (max-width: 768px) {
			:root {
					--page-top:64px
			}
	}
	.top-blur {
    /* @apply relative z-10 backdrop-blur-[5px] opacity-[0.95]; */
		position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    --h: min(96px,var(--page-top));
    position: sticky;
    width: calc(100% + var(--body-margin-left) + var(--body-margin-right));
		margin-left: calc(-1 * var(--body-margin-left));
    height: var(--h);
    z-index: 1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    opacity: .95;
    -webkit-mask-image: linear-gradient(var(--direction),var(--mask-visible) 25%,var(--mask-hidden));
    mask-image: linear-gradient(var(--direction),var(--mask-visible) 25%,var(--mask-hidden))
	}

	.top-blur:after {
			content: "";
			position: absolute;
			inset: 0;
			background: linear-gradient(var(--direction),var(--bg),transparent);
	}

	.top-blur:first-child {
			margin-bottom: calc(-1 * var(--h));
			top: 0;
			--direction: to bottom
	}

	.top-blur:last-child {
			margin-top: calc(-1 * var(--h));
			bottom: 0;
			--direction: to top
	}
	/* .blur {
		@apply sticky w-full -mx-4 h-24 z-10 backdrop-blur-[5px] opacity-[0.95];
		--h: 96px;
		pointer-events: none;
	}

	.blur:after {
		content: "";
		position: absolute;
		inset: 0;
		background: linear-gradient(0deg, transparent, #f6f7ee);
	}

	.blur:first-child {
		margin-bottom: calc(-1 * var(--h));

		top: 0;
		--direction: to bottom;
	}

	.blur:last-child {
		margin-top: calc(-1 * var(--h));
		bottom: 0;
		--direction: to top;
	} */

	.sunken-shadow {
		box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.05);
	}

	/* relative */
	/* rounded-xl p-8 text-white border-2 border-[#80DEC9]
					bg-[#005d4b]
					bg-[url('/noise.png')] bg-repeat [background-blend-mode:overlay] bg-opacity-50
					before:absolute before:inset-0 before:bg-gradient-to-b before:from-transparent before:to-[#005d4b] before:opacity-90 */
	.hero {
		@apply rounded-xl p-8 text-white border-2 border-[#80DEC9];
		background-color: #005d4b;
		background-image: linear-gradient(0deg, #005d4b, transparent), url('/noise.png');
		background-repeat: no-repeat, repeat;
		background-size: auto, 100%;
	}
</style>