---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Ronald Leung">
	<div class="blur" aria-hidden="true"></div>
	<main class="my-24">
		<div class="flex justify-center px-12">
			<article class="max-w-2xl flex flex-col gap-8">
				<section class="bg-[#005d4b] rounded-xl p-8 text-white">
					<h1 class="text-3xl">hey, i'm ronald.</h1>
					<p class="opacity-60 text-lg">
						welcome to my corner of the internet.
					</p>
				</section>
				<section class="bg-[#eaebe2] rounded-xl p-8 space-y-4">
					<h2 class="text-2xl">about</h2>
					<p class="mb-2">I’m a curious technologist with a passion for building. Currently, I’m studying CS at Cornell, where I spend a lot of time building community at Armada and writing code for Cornell AutoBoat.</p>
					<p>I’ve done a fair bit of work in full-stack development, but I’m also dabbling in startups, AI, and creative work. Lately, i’ve been interested in AI agents, NeRFs/Gaussian Splatting, and embodied AI - tools that can help intelligent systems perceive their environments and take action. I’m also fascinated by hard tech and sustainable cities.</p>
				</section>
			</article>
		</div>
	</main>
</Layout>
